.character-card{
    background-color: transparent;
    width:230px;
    height: 435px;
}
.img-container-card{
    width:100%;
    height:280px;
    background-color: tra;
    position: relative;
}
.img-container{
    background-color:transparent;
    width:205px;
    position: absolute;
    left: 25px;

}
.img-container-card-lateral{
    background-color:#3B3B3B;
    height:100%;
    width: 25px;
    padding: 100% 0px 0px 0px;
}
.triangle{
    /*border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 80px solid #acacac;
    height: 100%;
    width: 10px;*/
    width: 0;
    height: 0;
    border-top: 29px solid transparent;
    border-bottom: 21px solid #acacac;
    border-left: 25px solid transparent;

    
}
.img-card{
    width: 100%;
    max-width: 205px ;
    height: 280px;
    /*float: right;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) ;
    border-radius :  4px  0px  4px  0px;

}
.conatiner-card{
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 155px;
    border-radius :  0px  0px  4px  4px;
    max-width: 230px ;


}
.content-button-card{
    padding: 4px 21px ;
    font-weight: 400;
    /*padding: 11px 0px;*/
    position: absolute;
    top: 0px;
    width: 45px;
    left:186px;
    height: 45px;
    background-color:rgb(230, 18, 18);
    /*border-top: 29px solid red;
    border-bottom: 21px solid #acacac;
    border-left: 25px solid #3B3B3B;*/
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-decoration:none;
    border-radius: 4px;
}
